body {
    background-color: #eeeeee;
    margin: 3vw;
    margin-top: 0vw;
    margin-bottom: 6vw;
    max-width: 1500pt;
    height: 100%;
}

article {
    float: left;
    padding: 10px;
    width: 30%;
    height: 300px;
}

div {
  margin-bottom: 6%;
}

button, input, select {
    font-size:110%;
    padding:1%;
    margin-top: 1%;
    margin-left: 1%;
}

button {
    font-size: 20px;
    width: 95%;
    border-right: 2px solid rgb(53, 53, 53);
    border-radius: 3px 3px 3px 3px;
}

button:hover {
  color:rgb(255, 255, 255);
  background-color: rgb(139, 213, 135);
  border:2px solid rgb(139, 213, 135);
  border-radius:3px 3px 3px 3px;
}

fieldset { 
  margin-bottom:5%; 
  padding:2%;  
}

footer {
  margin-top: 10%;
  background-color:rgb(228, 225, 218);
  padding:3%;
}

#map {
    margin-top: 5%;
    height: 1000px;
    width: 1000px auto;
    margin: 20px;
}

#submit {
    background: rgb(255, 200, 200);
}

#title {
    font-size: 40px;
}

#inputReq {
    font-size: 40px;
}

#des {
    background: #c7c7c7;
    width: 90%;
    font-size: 20px;
}

#secTitle {
    font-size: 20px;
}

#choosePointOrig, #choosePointDest, #getUser {
    width: 85%;
}
