<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>GISDR WebMap</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
        <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
        <script src='static/js/webMap.js'></script>
    </head>
    
    <body>
        <header>
            <h1> GISDR WebMap </h1>
        </header>
        
        <main>
            <section>
                <article>
                    <h2>Please Input:</h2>

                    <fieldset>
                        <legend>Service type: </legend>
                        <select name="service-menu" id="service">
                        <option value="place">Directions to a place</option>
                        <option value="facility">Directions to a facility</option>
                        </select>
                    </fieldset>

                    <fieldset>
                    <legend>Location Info</legend>
                    <p>Where do you need to go?</p>
                    <label for="originLnt" class="required">Longitude:</label>
                        <input 
                            type="text"
                            name="originLnt" id="originLnt"
                            required
                            placeholder="Lnt: 123.00"
                            autofocus/>
                    <div>
                    <label for="originLat" class="required">Latitude:</label>
                        <input 
                            type="text"
                            name="originLat" id="originLat"
                            required
                            placeholder="Lat: 123.23"
                            />
                    </div> 

                    <p id="des">Where are you?</p>
                    <label for="destinationLnt" class="required">Longitude:</label>
                        <input 
                            type="text"
                            name="destinationLnt" id="destinationLnt"
                            required
                            placeholder="Lnt: 123.23"
                            />
                    <div>
                    <label for="destinationLat" class="required">Latitude:</label>
                        <input 
                            type="text"
                            name="destinationLat" id="destinationLat"
                            required
                            placeholder="Lat: 123.23"
                            />
                    </div>
                    </fieldset>
                    
                    <fieldset>
                        <legend>Extra hazard information to include in this calculation: </legend>
                        <input type="file" id="uploadFile" multiple>
                    </fieldset>
                    
                    <p>
                        <button type="button" id="submit" value="get the route" >GetRoute</button>
                    </p>                
                   
                    <div id="output"></div>
                </article>

                <div id="map"></div>
            </section>
        </main>

        <footer>
            <p><cite>&copy; 2023 GIS-Project</cite></p>
        </footer>
    </body>
</html>