<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title> OpenStreetMap Test </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src='static/js/mapTemp.js'></script>
    </head>
    
    <body>
        <header>
            <h1> GISDR template webpage </h1>
            <p>text here</p>
        </header>
        
        <main>
            <section>
                <h2>Get Input:</h2>
                <article>
                    <form id="route">
                    <label for="originLnt" class="required">Origin lnt and lat</label>
                        <input 
                            type="text"
                            name="originLnt" id="originLnt"
                            required
                            placeholder="lnt: 123.00"
                            />   
                    <label for="originLat" class="required"></label>
                        <input 
                            type="text"
                            name="originLat" id="originLat"
                            required
                            placeholder="lat: 123.23"
                            autofocus />
                    
                    
                    <label for="destinationLnt" class="required">Destination lnt and lat</label>
                        <input 
                            type="text"
                            name="destinationLnt" id="destinationLnt"
                            required
                            placeholder="lnt: 123.23"
                            />
                    <label for="destinationLat" class="required"></label>
                        <input 
                            type="text"
                            name="destinationLat" id="destinationLat"
                            required
                            placeholder="lat: 123.23"
                            />

                    
                    <p>
                        <button type="button" id="submit" value="get the route" >GetRoute</button>
                    </p>

                    <!-- <h1> Directions: </h1>
                    <p>To be implemented (maybe)</p> -->
                
                    </form>
                   
                    <div id="output"></div>
                </article>
            </section>
        </main>
        <div id="map"></div>
        <script src='static/js/mapTemp.js'></script>
        <footer>
            <p><cite>&copy; 2023 GIS-Project</cite></p>
        </footer>
    </body>
</html>