<html>
    <head>
        <title> Test </title>
        <link rel="stylesheet" type="text/css" href="css/temp.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/temp.css') }}" />
        <link rel="stylesheet" href="leaflet/leaflet.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
        
        <script>
            function fetchJSON(url) {
                return fetch(url)
                    .then(function(response) {
                        return response.json();
                });
            }
            
            function sendJSON(fileJSON) {
                fReader = new FileReader();
                
                fileList = this.files;
                console.log(fileList[0]);
                
                fReader.readAsText(fileList[0]);
                
                fReader.onload = function(readRes) {
                    var jsonFeature = JSON.parse(fReader.result)
                    console.log(jsonFeature);
                    L.geoJSON(jsonFeature).addTo(map);
                }
            }
            
            function getDirections() {
                var lonUser = document.getElementById("lonFrom").value
                var latUser = document.getElementById("latFrom").value
                var lonDest = document.getElementById("lonTo").value
                var latDest = document.getElementById("latTo").value
                //var extraHazards = document.getElementById("uploadFile").value
                
                alert("From: " + lonUser + ", " + latUser)
                alert("To: " + lonDest + ", " + latDest)
                //alert("Hazards: " extraHazards)
            }
        </script>
    </head>
    
    <body> 
        <h1> GISDR template webpage </h1> 
        <p>Service type: </p>
        <select name="service-menu" id="service">
            <option value="place">Directions to a place</option>
            <option value="facility">Directions to a facility</option>
        </select>
        
        <p>Where do you need to go?</p>
        Longitude:
        <input type="text" id="lonTo"><br><br>
        Latitude:
        <input type="text" id="latTo"><br><br>
        
        <p>Where are you?</p>
        Longitude:
        <input type="text" id="lonFrom"><br><br>
        Latitude:
        <input type="text" id="latFrom"><br><br>
        
        <p>Extra hazard information to include in this calculation: </p>
        <input type="file" id="uploadFile" multiple>
        
        <p> <button type="button" id="requestPath">Get directions!</button> </p>
        
        <p>World map </p>
        <div id="map"></div>
        
        <p>Your location</p>
        <input type="file" id="uploadStart" multiple>
        <p>Destination</p>
        <input type="file" id="uploadEnd" multiple>
        <p>Hazard data</p>
        <input type="file" id="uploadAvoid" multiple>
        
        <h1> Directions: </h1>
        <p>To be implemented (maybe)</p>
        <p></p>
        
        <script src="leaflet/leaflet.js"></script>
        <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
        <script>
            //document.getElementById("upload").addEventListener("click", sendJSON);
            
            var map = L.map('map').setView([30, 11], 3);
            
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            
            fetchJSON('https://raw.githubusercontent.com/johnkcOSU/test-repo/main/test.geojson')
            .then(function(data) {
                console.log(data);
                L.geoJSON(data).addTo(map);
            })
            
            document.getElementById("uploadFile").addEventListener("change", sendJSON);
            document.getElementById("requestPath").addEventListener("click", getDirections);
        </script>
    </body>
</html>